@model IEnumerable<WebApplication1.Models.Calendar>

@{
    ViewData["Title"] = "Index";
}


<h2>檔案上傳</h2>


<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>從政府部門<a href="https://data.gov.tw/dataset/26557">下載</a>一csv檔，並上傳至此。</p>
            <input type="file" name="files" accept=".csv" onchange="checkfile(this);" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="上傳"  />
        </div>
    </div>
</form>



<div id='jqxWidget'></div>
<script>

    $("#jqxWidget").jqxCalendar({
        enableTooltips: true,
        width: 220,
        height: 220
    });
    function update_Calendar() {
             $.ajax({
            type: 'GET',
            url: "@Url.Action("JSONdata", "Calendars")",
            data: { get_param: 'value' },
            dataType: 'json',
            async: false,
            success: function (data) {
               for (var i = 1; i < data.length; i++) {
                   if (data[i].isHoliday == '是') {
                       $("#jqxWidget").jqxCalendar('addSpecialDate', new Date(data[i].date), '', data[i].holidayCategory);
                   }
               }
            }
            });
    }
    update_Calendar()
    function checkfile(sender) {

        // 可接受的附檔名
        var validExts = new Array(".csv");

        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("檔案類型錯誤，可接受的副檔名有：" + validExts.toString());
            sender.value = null;
            return false;
        }
        else return true;
    }

</script>
